*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "roboto", serif;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

main{
  height: 100vh;
  width: 100vw;
  display: flex;
}
.image-container{
  height: 100%;
  flex: 1;
  background: url(images/background.jpg) center center / cover no-repeat;
  color: #22223b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.form-container{
  height: 100%;
  flex: 2;
  background-color: #303051;
}
.heading-container{
  height:100px;
  width: 90%;
  position: absolute;
  bottom: 60%;
  background: rgba(255, 255, 255, 0.208);
  backdrop-filter: blur(7px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;

}
.heading-container h1{
  font-family: "DM Serif Text", serif;
}
.image-container a{
  color: #22223b;
}
